<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link  href="{{STATIC_URL}}css/index.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min1.9.0.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/TweenMax.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/menu.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/about.js"></script>
</head>
<body>
    <!--header-->
    <div class="header mid">
        <div class="searchBox">
            <input class="searchBtn" type="button" value="go">
            <div class="searchCon">
                <div class="sIcon01"></div>
                <input class="search" type="text" value="search">
                <div class="sIcon02"></div>
            </div>
        </div>
        <div class="menuBox">
            <div class="logo">
                <div class="hiddenTxt">强势传媒</div>
            </div>
            <div class="menu">
                <ul class="menuCon">
                    <li class="on">
                        <span class="mfont01">首 页</span>
                        <span class="mfont02">Index</span>
                    </li>
                    <li>
                        <span class="mfont01">关于我们</span>
                        <span class="mfont02">About  us</span>
                    </li>
                    <li class="mBtn03">
                        <span class="mfont01">强视作品</span>
                        <span class="mfont02">Our works</span>
                    </li>
                    <li>
                        <span class="mfont01">公司艺人</span>
                        <span class="mfont02">Company artist</span>
                    </li>
                    <li>
                        <span class="mfont01">游戏制作</span>
                        <span class="mfont02">Game fabrication</span>
                    </li>

                    <li>
                        <span class="mfont01">商务合作</span>
                        <span class="mfont02">The business</span>
                    </li>
                    <li>
                        <span class="mfont01">新媒体</span>
                        <span class="mfont02">New media</span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="menu2Con">
            <div class="menuline"></div>
            <div class="menu3">
                <div class="mtop">
                    <span class="mbg02"><img class="mbg03" src="{{STATIC_URL}}img/menu2_bg03.png" alt=""></span>
                </div>
                <div class="menu3UiCon">
                    <ul class="table-cell">
                        <li>电视剧</li>
                        <li>电影</li>
                        <li>微电影</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--header-->

        <div class="page2_kv mid">
            <div class="kvCon">
                <img src="{{STATIC_URL}}img/p2_kv.jpg" alt="">
            </div>
        </div>

        <div class="page2Box mid">
            <div class="p2_top">
                <img class="p2_topPic" src="{{STATIC_URL}}img/p2_topPic.png" alt="">
            </div>
            <div class="p2_Con">
                <div class="p2_left">
                    <img class="p2_title01" src="{{STATIC_URL}}img/p2_title01.jpg" alt="">
                    <ul class="p2_newsmlist fontWR">
                        <li>
                            <div class="p2_mcn">公司声明</div>
                            <div class="p2_men">Company statement</div>
                            <div class="p2_menIcon"></div>
                        </li>
                        <li>
                            <div class="p2_mcn">江西卫视 《嫁给爱情》</div>
                            <div class="p2_men">Jiang xi TV- Marry The Love</div>
                            <div class="p2_menIcon"></div>

                        </li>
                        <li>
                            <div class="p2_mcn">强视传媒经典剧目亮相</div>
                            <div class="p2_men">Classic Series of CHS Media</div>
                            <div class="p2_menIcon"></div>
                        </li>
                        <li>
                            <div class="p2_mcn">相关消息《湘西会战》</div>
                            <div class="p2_men">Related news- Xiangxi Battle</div>
                            <div class="p2_menIcon"></div>
                        </li>
                        <li>
                            <div class="p2_mcn">长沙开机《最后一站》</div>
                            <div class="p2_men">Lunched in Changsha- Last Station</div>
                            <div class="p2_menIcon"></div>
                        </li>
                        <li>
                            <div class="p2_mcn">彭倩出演 《父母爱情》</div>
                            <div class="p2_men">Pengqian casts- Love of Patents</div>
                            <div class="p2_menIcon"></div>
                        </li>
                        <li>
                            <div class="p2_mcn">即将播出《舞乐传奇》</div>
                            <div class="p2_men">Coming soon of Dance&Music</div>
                            <div class="p2_menIcon"></div>
                        </li>
                        <li>
                            <div class="p2_mcn">热拍在即《诛 三  记》</div>
                            <div class="p2_men">Shooting soon Kill Mistresses</div>
                            <div class="p2_menIcon"></div>
                        </li>
                    </ul>
                </div>
                <div class="p2_right fontS">
                    <div class="p2_infoBox">
                         <img src="{{STATIC_URL}}img/p2_title02.png" alt="">
                         <div class="p2_infoCon">
                             <img class="p2_icon02" src="{{STATIC_URL}}img/p2_icon02.png" alt="">
                             <div class="p2_info" >
                                     <p>是一家集影视节目制作、引进、发行、广告、演员经纪、动画制作及新媒体为一体的影视传媒机构。时经多年的发展，积累了丰富的经验，在业内享有盛誉。
                                        </p><p>
                                     本机构自1993年成立中山经纬影视传播有限公司以来，已向全国各级电视台及海外提供了1000集以上的电视节目，并以独资、合资的形式摄制、发行了《小李飞刀》、《忠勇小状元》、《中华英豪》、《桃花扇传奇》、《飞刀问情》、《金粉世家》、《亲亲宝贝》、《龙票》、《大旗英雄传》、《楚留香传奇》、《敌营十八年》、《虎胆雄心》、《湘西喋血记》、《白狼》、《秘杀名单》、《中国式母亲-虎妈》、《第九个寡妇》、《狐仙》、《一门三司令》等多部优秀影视剧。
                                    </p><p>
                                     强视传媒以精良的作品和规范有效的经营管理，荣获国家文化出口重点企业和广电总局专业评定机构“TV制胜”最具实力民营电视剧制作机构，并获得国家主管部颁发的电视剧制作A级许可证。
                                     强视传媒秉承专业的经营理念，独家签约了著名导演王小康、叶昭仪、刘逢声、周楠、魏楠、杜志国；编剧刘晓波、王学伟；制片人叶璇、高红川；音乐人林天爱及演艺明星秋瓷炫、杜淳、李立群等人，优秀的工作团队和专业的经营理念使强视传媒迅速崛起。
                                    </p>
                                    <img  class="p2_icon03"  src="{{STATIC_URL}}img/p2_icon03.png" width="21" height="18" alt="">
                             </div>
                         </div>

                     </div>
                    <div class="p2_infoBox02">
                        <img src="{{STATIC_URL}}img/p2_title03.png" alt="">
                        <div class="p2_infoCon">
                            <ul>
                                <li>2003年 《金粉世家》 陈坤、董洁、刘亦菲主演 （央视综合频道及全国省级电视台热播，创下当年全国收视率的新高）。</li>
                                <li>2004年 《龙票》 黄晓明、孙宁、秦岚、蒋欣主演 （央视首部“以点论价”方式购入的电视剧，在央视第八频道播出）。</li>
                                <li>2005年 《大旗英雄传》 杜淳、崔林、秋瓷炫、李彩华主演；《金色年华》黄圣依、蓝正龙、郭碧婷、严宽主演。</li>
                                <li>2006年 《楚留香传奇》朱孝天、胡静、秋瓷炫主演。</li>
                            </ul>
                        </div>
                    </div>

                    <div class="p2_infoBox03">
                        <img src="{{STATIC_URL}}img/p2_title04.png" alt="">
                        <div class="p2_infoCon">
                            强视传媒拥有一支精明、团结、干练的影视传媒运作团队，尤其在中国影视产业市场上占有重要的地位。
                            <ul>
                                <li><span class="icon"></span>广东强视影业传媒有限公司</li>
                                <li><span class="icon"></span>北京强视文化发展有限公司。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--footer-->
    <div class="footer" style="background-color: #252525">
        <div class="footerBox mid fontS">
            <div class="linkBox">
                <dl>
                    <dt>网站导航</dt>
                    <dd>关于我们  ABOUT US</dd>
                    <dd>网站地图  MAPS</dd>
                    <dd>版权声明  COPYRIGHT</dd>
                    <dd>联系我们  CONTACT US</dd>
                </dl>

                <dl>
                    <dt>合作伙伴</dt>
                    <dd>中视协演员工作委员会</dd>
                </dl>

                <dl>
                    <dt>联系我们</dt>
                    <dd>地址：北京市朝阳区八里庄东里1号（莱锦TOWN）Cn18单元</dd>
                    <dd>邮政编码：100025</dd>
                    <dd>电话：010—65503126</dd>
                    <dd>传真：010—65503156</dd>
                    <dd>广告商务：020-38486329</dd>
                    <dd>联 系 人：Tinna</dd>
                </dl>
            </div>

            <div class="copyrightBox">
                <ul>
                    <li><a href="#" target="_blank">关于强视 </a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">免责条款 </a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">招聘牛人</a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">合作伙伴</a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">友情链接</a></li>
                </ul>
                <div class="copyright">
                    Copyright©2009-2012 广东强视影业传媒有限公司 All Rights Reserved 强视传媒版权所有   京公网安备11010102000458号   京ICP备09113788号
                </div>
            </div>

        </div>

    </div>
    <!--footer-->




</body>
</html>