<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link  href="css/index.css" rel="stylesheet">


    <!--<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>-->
    <script type="text/javascript" src="js/jquery.min1.9.0.js"></script>
    <script type="text/javascript" src="js/TweenMax.min.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/product.js"></script>
</head>
<body>
<!--header-->
<div class="header mid">
    <div class="searchBox">
        <input class="searchBtn" type="button" value="go">
        <div class="searchCon">
            <div class="sIcon01"></div>
            <input class="search" type="text" value="search">
            <div class="sIcon02"></div>
        </div>
    </div>
    <div class="menuBox">
        <div class="logo">
            <div class="hiddenTxt">强势传媒</div>
        </div>
        <div class="menu">
            <ul class="menuCon">
                <li class="on">
                    <span class="mfont01">首 页</span>
                    <span class="mfont02">Index</span>
                </li>
                <li>
                    <span class="mfont01">关于我们</span>
                    <span class="mfont02">About  us</span>
                </li>
                <li class="mBtn03">
                    <span class="mfont01">强视作品</span>
                    <span class="mfont02">Our works</span>
                </li>
                <li>
                    <span class="mfont01">公司艺人</span>
                    <span class="mfont02">Company artist</span>
                </li>
                <li>
                    <span class="mfont01">游戏制作</span>
                    <span class="mfont02">Game fabrication</span>
                </li>

                <li>
                    <span class="mfont01">商务合作</span>
                    <span class="mfont02">The business</span>
                </li>
                <li>
                    <span class="mfont01">新媒体</span>
                    <span class="mfont02">New media</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="menu2Con">
        <div class="menuline"></div>
        <div class="menu3">
            <div class="mtop">
                <span class="mbg02"><img class="mbg03" src="img/menu2_bg03.png" alt=""></span>
            </div>
            <div class="menu3UiCon">
                <ul class="table-cell">
                    <li>电视剧</li>
                    <li>电影</li>
                    <li>微电影</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--header-->


    <div class="page3_kv mid">
        <div class="kvCon">
            <img src="img/p3_kv.jpg" alt="">
        </div>
    </div>

    <div class="page3Box mid">
        <ul class="curCol fontS">
            <li><a  class="on" href="#" target="_self">电视剧</a></li>
            <li>/</li>
            <li><a href="#" target="_self">强视作品</a></li>
            <li>/</li>
            <li><a href="#" target="_self">首页</a></li>
        </ul>

        <div class="con">
            <div class="p3_title01">
                <img src="img/p3_cate01.jpg" alt="">
            </div>
            <div class="info fontS">
                <p>中山经纬影视传播有限公司以来，广东强视影业传媒有限公司已向全国各级电视台及海外提供了1000集以上的电视节目，并以独资、合资的形式摄制发行了《小李飞刀》、《忠勇小状元》、《中华英豪》、《桃花扇传奇》、《飞刀问情》、《金粉世家》、《亲亲宝贝》、《龙票》、《大旗英雄传》、《楚留香传奇》、《敌营十八年》等多部优秀电视剧。特别是公司2002年拍摄的40集电视剧《金粉世家》，于2003年在中国中央电视台第八频道、第一频道及全国省级电视台热播，创下收视率的新高。
                </p>
                <p>2004年，强视力邀著名作家王跃文任编剧，投资制作44集精心之作《龙票》，并在中国中央电视台首播，这是中央电视台首部“以点论价”方式购入的电视剧。
                </p>
                <p>
                2005年，强视联合其他公司投资2500万元制作了41集古龙经典武侠剧《大旗英雄传》，投资2000万元制作的《金粉世家》姊姐篇《金色年华》，2010年将分别在中央电视台及全国省市电视台黄金档播出。
                </p>
                <p>
                2006年，强视联合其它公司投资3200万元，精心打造根据古龙武侠小说《铁血传奇》改编的42集电视剧《楚留香传奇》。2007年12月10日在中央电视台八频道黄金时间热播。并获得央视2007年电视剧收视率排名第三的成绩。
                </p>
                <p>
                强视正在后期制作120集红色经典剧《敌营十八年》。同时，正在筹备的剧目有：20集现代言情剧《非常迷离》；根据康熙皇帝的老师陈庭敬生平事迹编写的30集电视剧《大清相国》；90集电视剧《乌龙山剿匪记》。
                强视还有很多明星董事，叶璇[1] 、杜淳等列在位。
                </p>
            </div>
            <div class="p3_title02">
                <img src="img/p3_title02.png" alt="">
            </div>
            <div class="pro fontWR">
                <ul class="p3_proCon">
                    <li>
                        <img class="p3_pic" src="img/p3_pic01.jpg" alt=""/>
                        <p>红花红火</p>
                        <p>The red flower&fire</p>

                        <div class="p3_proOver">
                            <div class="p3_detailCon">
                                <div class="table-cell">
                                    <img class="p3_detail" src="img/p3_detail01.png">
                                </div>
                            </div>
                            <div class="p3_detailBtnCon">
                                <div class="p3_detailBtnIcon"></div>
                            </div>
                        </div>
                    </li>
                    <li><img class="p3_pic" src="img/p3_pic02.jpg" alt=""/>
                        <p>白 狼</p>
                        <p>The white Wolf</p>
                        <div class="p3_proOver">
                            <div class="p3_detailCon">
                                <div class="table-cell">
                                    <img class="p3_detail" src="img/p3_detail01.png">
                                </div>
                            </div>
                            <div class="p3_detailBtnCon">
                                <div class="p3_detailBtnIcon"></div>
                            </div>
                        </div>
                    </li>
                    <li><img class="p3_pic" src="img/p3_pic03.jpg" alt=""/>
                        <p>一门三司令</p>
                        <p>The Same Cmmander</p>
                        <div class="p3_proOver">
                            <div class="p3_detailCon">
                                <div class="table-cell">
                                    <img class="p3_detail" src="img/p3_detail01.png">
                                </div>
                            </div>
                            <div class="p3_detailBtnCon">
                                <div class="p3_detailBtnIcon"></div>
                            </div>
                        </div>
                    </li>
                    <li><img class="p3_pic" src="img/p3_pic04.jpg" alt=""/>
                        <p>大清相国</p>
                        <p>Qing Dynasty</p>
                        <div class="p3_proOver">
                            <div class="p3_detailCon">
                                <div class="table-cell">
                                    <img class="p3_detail" src="img/p3_detail01.png">
                                </div>
                            </div>
                            <div class="p3_detailBtnCon">
                                <div class="p3_detailBtnIcon"></div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="p3_pageBox">
                    <div class="table-cell textalignCenter">
                        <div class="p3_pageHolder">

                            <span class="p3_prevBtn"></span>
                            <ul class="p3_pageCon">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <span class="p3_nextBtn"></span>
                        </div>
                    </div>
            </div>

            </div>
         </div>
    </div>

    <!--footer-->
    <div class="footer">

        <div class="footerBox mid fontS">
            <div class="linkBox">
                <dl>
                    <dt>网站导航</dt>
                    <dd>关于我们  ABOUT US</dd>
                    <dd>网站地图  MAPS</dd>
                    <dd>版权声明  COPYRIGHT</dd>
                    <dd>联系我们  CONTACT US</dd>
                </dl>

                <dl>
                    <dt>合作伙伴</dt>
                    <dd>中视协演员工作委员会</dd>
                </dl>

                <dl>
                    <dt>联系我们</dt>
                    <dd>地址：北京市朝阳区八里庄东里1号（莱锦TOWN）Cn18单元</dd>
                    <dd>邮政编码：100025</dd>
                    <dd>电话：010—65503126</dd>
                    <dd>传真：010—65503156</dd>
                    <dd>广告商务：020-38486329</dd>
                    <dd>联 系 人：Tinna</dd>
                </dl>
            </div>

            <div class="copyrightBox">
                <ul>
                    <li><a href="#" target="_blank">关于强视 </a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">免责条款 </a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">招聘牛人</a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">合作伙伴</a></li>
                    <li>|</li>
                    <li><a href="#" target="_blank">友情链接</a></li>
                </ul>
                <div class="copyright">
                    Copyright©2009-2012 广东强视影业传媒有限公司 All Rights Reserved 强视传媒版权所有   京公网安备11010102000458号   京ICP备09113788号
                </div>
            </div>

        </div>

    </div>
    <!--footer-->


    <!--<div class="popBg">-->
        <!--<div class="p3_popBox">-->
            <!--<div class="p3_popTitle fontWR">-->
                <!--一门三司令-->
            <!--</div>-->
            <!--<div class="p3_popInfo">-->
                <!--<div class="p3_popLeft">-->
                    <!--<div class="p3_fengMian">-->
                        <!--<img src="img/p3_popPic01.jpg" alt="" width="239" height="342">-->
                    <!--</div>-->
                    <!--<ul class="p3_popCol">-->
                        <!--<li>强视作品</li>-->
                        <!--<li>/</li>-->
                        <!--<li>电影</li>-->
                        <!--<li>/</li>-->
                        <!--<li class="on">电视剧</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="p3_popRight">-->
                    <!--Oryginalny tytu :   Northmen-A Viking Saga<br/>-->
                    <!--Gatunek :              Akcja | Przygodowy<br/>-->
                    <!--Długość :               99<br/>-->
                    <!--Premiera :              01/05/2015<br/>-->
                    <!--Ograniczenie  :      15+<br/>-->
                    <!--Reżyseria :             Claudio Fah<br/>-->
                    <!--Obsada :                James Norton, Ryan Kwanten, Charlie Murphy<br/>-->
                    <!--Produkcja / Rok :   Szwajcaria, Niemcy, RPA 2014Wygnani z ojczyzny Wikingowie<br/>-->
                    <!--<p>-->
                        <!--The first American-style, English language, liberal arts educational institution in Eastern Europe, the American University in Bulgaria (AUBG) is a unique cooperative venture established with the support of theU.S. and Bulgarian governments, the Open Society Institute, and the Unversity of Maine.-->
                    <!--</p><p>-->
                    <!--AUBG is a privately funded, not-for-profit institution. Tuition and pvate donations, as well as grants, finance its educational activities. Itopened its doors in September 1991, with a first-year class of 208 students and 16 full-time faculty members.-->
                <!--</p>-->
                    <!--<p>-->
                        <!--The first American-style, English language, liberal arts educational institution in Eastern Europe, the American University in Bulgaria (AUBG) is a unique cooperative venture established with the support of theU.S. and Bulgarian governments, the Open Society Institute, and the Unversity of Maine.-->
                    <!--</p><p>-->
                    <!--AUBG is a privately funded, not-for-profit institution. Tuition and pvate donations, as well as grants, finance its educational activities. Itopened its doors in September 1991, with a first-year class of 208 students and 16 full-time faculty members.-->
                <!--</p>-->
                    <!--<p>-->
                        <!--The first American-style, English language, liberal arts educational institution in Eastern Europe, the American University in Bulgaria (AUBG) is a unique cooperative venture established with the support of theU.S. and Bulgarian governments, the Open Society Institute, and the Unversity of Maine.-->
                    <!--</p><p>-->
                    <!--AUBG is a privately funded, not-for-profit institution. Tuition and pvate donations, as well as grants, finance its educational activities. Itopened its doors in September 1991, with a first-year class of 208 students and 16 full-time faculty members.-->
                <!--</p>-->

                <!--</div>-->
            <!--</div>-->
            <!--<img class="p3_closeBtn" src="img/p3_closeBtn.jpg" alt=""/>-->
        <!--</div>-->
    <!--</div>-->


</body>
</html>